<h1>New task list</h1>

<% form_for @task_list, :url => user_task_lists_path(@current_user) do |f| %>
	<fieldset>
		<legend>Task list information</legend>
		<div class="task_list">
			<p>
				<%= f.label :title %>
				<%= f.text_field :title %>
			</p>
			<p>
				<%= f.check_box :shared %>
				<%= f.label :shared %>
			</p>
		</div>
	</fieldset>
	<fieldset>
		<legend>Add tasks</legend>
		<div id="tasks">
			<% f.fields_for :tasks do |task_f| -%>
				<%= render :partial => 'task', :locals => {:form => task_f} %>
			<% end -%>
		</div>
		<p><%= add_task_link(f) %></p>
	</fieldset>
	<p><%= f.submit %></p>
<% end -%>